<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <main>
      <div class="signin-form">
        <h2>S'inscrire</h2>
        <form>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Email..." />

          <label for="confirmEmail">Confirm Email</label>
          <input
            type="text"
            id="confirmEmail"
            name="confirmEmail"
            placeholder="Confirm Email..."
          />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password..."
          />

          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password..."
          />

          <button type="submit">S'inscrire</button>
        </form>
      </div>
    </main>
  </body>
</html>
