<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <main>
    <ng-container *ngIf="showForm">
      <form [formGroup]="signInForm" class="formSignIn" (ngSubmit)="signIn()">
        <label for="username" class="username">Adresse mail:</label>
        <input
          type="email"
          class="signin-form"
          formControlName="email"
          placeholder="Email..."
          required
        />

        <label for="name" class="username">Prénom:</label>
        <input
          type="text"
          class="signin-form"
          formControlName="name"
          placeholder="Prénom..."
          required
        />

        <label for="surname" class="username">Nom:</label>
        <input
          type="text"
          class="signin-form"
          formControlName="surname"
          placeholder="Nom..."
          required
        />

        <label for="password" class="password">Mot de passe:</label>
        <input
          type="password"
          class="signin-form"
          formControlName="password"
          placeholder="Mot de passe..."
          required
        />
        <button type="submit" class="signin-form-button">S'inscrire</button>
      </form>

      <button class="GoogleSign" (click)="onSignInClick()">
        S'inscrire avec Google
      </button>
    </ng-container>

    <ng-container *ngIf="user$ | async as user">
      <ng-container *ngIf="user.user; else NotSignedIn">
        <div class="HelloProfile">
          <div class="profile-info">
          <div class="profile-info2">
            <ng-container *ngIf="user?.user?.photoURL; else NoProfilePicture">
              <img
              class="profile-picture"
              [src]="user.user.photoURL"
              alt="Profile Picture"
              />
            </ng-container>
            <ng-template #NoProfilePicture>
              <div class="profile-placeholder" [style.background-color]="generateRandomColor()">
                <span class="profile-initial">{{ getInitial(user?.user?.displayName) || getInitialFromEmail(user?.user?.email) }}</span>
              </div>
            </ng-template>            
            <p class="paragraphSignedInDisplayName" *ngIf="signedInUser">
              {{ signedInUser.displayName }}
            </p>
          </div>
          <div class="mail">
            <p>Adresse mail :</p>
            <p class="paragraphSignedIn" *ngIf="signedInUser">
              {{ signedInUser.email }}
            </p>
          </div>
          <div class="verified">
            <p>Votre adresse mail est-elle verifiée? :  </p>
              <p class="paragraphSignedIn" *ngIf="signedInUser">
                {{ signedInUser.emailVerified ? 'verifiée' : 'non-verifiée' }}
              </p>
          </div>
          </div>
          <div *ngIf="user.user.providerData[0]?.providerId === 'google.com'">
            <button class="GoogleSignedOut" (click)="onSignOutClick()">
              Se déconnecter
            </button>
          </div>
          <div *ngIf="user.user.providerData[0]?.providerId === 'password'">
            <button class="emailLogout" (click)="onEmailLogoutClick()">
              Se déconnecter
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #NotSignedIn>
        <button
          class="GoogleSign"
          (click)="onSignInClick()"
          *ngIf="!showForm"
        >
          S'inscrire avec Google
        </button>
      </ng-template>
    </ng-container>
  </main>
</body>
</html>