<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <main>
      <form [formGroup]="signInForm" class="formSignIn" (ngSubmit)="signIn()">
        <input type="email" class="signin-form" formControlName="email" placeholder="Email" required>
        <input type="password" class="signin-form" formControlName="password" placeholder="Password" required>
        <button type="submit" class="signin-form-button">Sign In</button>
      </form>        
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="(user.user !== null); else NotSignedIn">
          <div class="HelloProfile">
            <ng-container *ngIf="user?.user?.photoURL; else NoProfilePicture">
              <img class="profile-picture" [src]="user.user.photoURL" alt="Profile Picture" />
            </ng-container>
            <ng-template #NoProfilePicture>
              <div class="profile-placeholder">
                <span class="profile-initial">{{ getInitial(user?.user?.displayName) }}</span>
              </div>
            </ng-template>
            <p class="paragraphSignedIn" *ngIf="user?.user?.displayName">Bonjour {{ user.user.displayName }}</p>
          </div>
          <button class="GoogleSignedOut" (click)="onSignOutClick()">
            Se déconnecter
          </button>
        </ng-container>
      </ng-container>
      <ng-template #NotSignedIn>
        <button class="GoogleSign" (click)="onSignInClick()">
          S'inscrire avec Google
        </button>
      </ng-template>
    </main>
  </body>
</html>
