.navbar-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #000;
  height: 96px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-link {
  margin: 32px;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.material-symbols-outlined {
  font-size: 40px;
  margin-top: 8px;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' -25, 'opsz' 40;
}

.logo-velec {
  width: 150px;
  height: 52px;
  margin: 8px;
}

.logo-item {
  margin-right: auto;
}

.custom-button {
  width: 166px;
  height: 48px;
  border-radius: 8px;
  background-color: #4655DD;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 48px;
}