<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <main>
      <div class="login-form">
        <h2>Bienvenue</h2>
        <form>
          <label for="username" class="username">Adresse mail:</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Email..."
          />

          <label for="password" class="password">Mot de passe:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Mot de passe..."
          />
          <p class="noaccount">Pas de compte? <a href="/signin">S'inscrire</a></p>
          <button type="submit">Se connecter</button>
        </form>
      </div>
    </main>
  </body>
</html>
