<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <main>
      <div class="login-form">
        <h2>Se connecter</h2>
        <form>
          <label for="username">Adresse mail</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Email..."
          />

          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Mot de passe..."
          />
          <p>Pas de compte? <a href="#">S'inscrire</a></p>
          <button type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
