main {
    max-height: 100vh;
    overflow: auto;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  ul {
    list-style: none;
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
  }
    
  .product-features { 
    grid-area: 1 / 1 / 2 / 2; 
  }

  .product-description { 
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    grid-template-rows: 1fr;
    margin: 32px;
  }
  .addtocartButton{
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 12px 14px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
 .image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  white-space: nowrap;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  transform: translateY(-50%);
}

.scroll-left,
.scroll-right {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
}

.scroll-left {
  margin-left: 20px;
}

.scroll-right {
  margin-right: 20px;
}

.sizeTiroClub {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  font-weight: bold;
  margin: 4px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.sizeTiroClub:hover {
  background-color: black;
  border: 2px solid black;
  color: #fff;
  font-weight: bold;
  margin: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.selectedButton {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.title{
  margin-bottom: 8px;
}

.price{
  font-size: 32px;
  font-weight: bold;
}

.customer-reviews {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 12px;
  margin-top: 12px;
  max-width: 500px;
}

.customer-reviews button {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.test {
  width: 300px;
  background-color: #ccc;
  border: none;
  padding: 10px;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-label { 
  font-weight: bold; 
  margin-left: 8px; 
  font-size: 20px; 
}

.rightside {
  display: flex;
  align-items: center;
}

.leftside {
  margin-right: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.rotated {
  transform: rotate(180deg);
}