main {
    max-height: 100vh;
    overflow: auto;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 96px;
  }

  ul {
    list-style: none;
  }

  .gridContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 32px;
      grid-row-gap: 0px;
  }

  .product-description { 
    grid-template-rows: 1fr;
    margin: 32px;
    align-self: center;
  }

.iconlinkedin, .icongithub{
  width: 32px;
  margin: 8px;
  margin-bottom: 0;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footertext{
  margin: 8px;
}

.footer-container{
  background-color: rgb(231, 231, 231);
}

.H1{
  font-weight: 800;
}

.green-word{
  color: #3A8950;
}

.ParagraphHeader{
  font-size: 24px;
}

.h2Moteur, .h2Vitesse, .h2Autonomie{
  font-weight: 600;
}

.watts, .kmh, .km{
  font-size: 24px;
  font-weight: 800;
  color: #4655DD;
}

.p-asterisque{
  font-size: 19px;
  margin-top: 32px;
}

.prix-electrique{
  font-size: 32px;
  font-weight: 800;
}

.Electrique{
  width: 130px;
  height: 135px;
}

.crossed-text {
  text-decoration: line-through;
  color: #FF4F4F;
  font-weight: 800;
  font-size: 20px;
}

.discount{
  background-color: black;
  color: white;
  width: 56px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 800;
  margin-left: 8px;
}

.preorder-button{
  height: 48px;
  border-radius: 8px;
  background-color: #4655DD;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.final-price{
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-top: 4px;
}

.velec-dx50{
  width: 368px;
  height: 210px;
  transform: rotate(10.35deg);
}

.gridContainer2{
  display: grid;
  justify-content: center;
  align-self: center;
  justify-items: center;
  margin-left: 64px;
  margin-top: 32px;
}

.image-container {
  position: relative;
}

.bike-image{
  width: 665px;
  height: 400px;
  position: relative;
  z-index: 2;
  transform: rotateY(180deg);
  right: 32px;
  bottom: 32px;
}

.blob {
  position: absolute;
  width: 514px;
  height: 483px;  
  bottom: 25px;
  left: 50px;
  z-index: 1;
}

.circle-red-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #952D39;
  border: none;
  cursor: pointer;
}

.circle-blue-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #607EAF;
  border: none;
  cursor: pointer;
}

.circle-black-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1B1C1C;
  border: none;
  cursor: pointer;
}

.circle-brown-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #A1674B;
  border: none;
  cursor: pointer;
}

.colorsH2{
  font-weight: 800;
  font-size: 32px;
}

.colors{
  display: flex;
  justify-content: space-between;
  gap: 56px;
  margin-top: 24px;
}

.colors > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-color, .blue-color, .black-color, .brown-color{
  font-weight: 600;
  font-size: 20px;
  margin-top: 8px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.HeaderContainer{
  margin-top: 132px;
  margin-left: 160px;
  /* min-width: 870px;  the issue is that the grid is lower than 870px might fix this later */
}

.ParagraphHeader{
  margin-top: 16px;
  font-size: 22px;
}

.CharacteristicsContainer{
  margin-top: 112px;
  margin-left: 160px;
}

.Characteristics{
  display: flex;
  justify-content: space-between;
}

.watts, .kmh, .km{
  margin-top: 24px;
}

.PriceContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-top: 96px;
}

.CatchPhrase{
  display: flex;
  align-items: center;
}

.pricing{
  display: flex;
  justify-content: center;
}